<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	.passenger_car_tb {
		margin-top: 2rem;
	}
/* 	#search-btn:focus + .passenger_car_tb { */
/* 		display:  */
/* 	} */

</style>
</head>

<body>
	<h1>Welcome to Transport Management System!</h1>
	
	<div>
		<input>
		<button id="search_btn">Search</button>
		<table border="1" class="passenger_car_tb" id="passenger_car_tb">
			<tr>
				<th>Car plate</th>
				<th>Color</th>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>Capacity</th>
				<th>Years of use</th>
				<th>Last day of maintainance</th>
			</tr>
			<tr>
				<td>1</td>
				<td>hieu</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>
					<button>edit</button>
					<button>delete</button>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>hieu</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>
					<button>edit</button>
					<button>delete</button>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>hieu</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>hanoi</td>
				<td>
					<button>edit</button>
					<button>delete</button>
				</td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
	</script>
</body>
</html>